.navbar {
  background-color:lightgreen;
  box-shadow: 1px 1px 1px gray;
  padding: 4vh 10vw;
  display: flex;
  color:white;
}
.logo {
  flex: 1;
  font-size:24px;
}
.hello-user {
  margin-top:5px;
}
.single-card {
  background-color: #f2f2f2;
  padding: 15px;
  margin:25px 25px;
  text-align: center;
  box-shadow: 1px 1px 1px silver;
  border-radius: 5px;
}
.card-img {
  max-width:400px;
}
