.form-control {
  text-align: center;
  color:red;
}
.navbarr {
  background-color:lightgreen;
  box-shadow: 1px 1px 1px gray;
  padding: 2vh 10vw;
  display: flex;
  color:white;
}
.logo {
  flex: 1;
  font-size:28px;
}
.hello-user {
  margin-top:5px;
}
.create-song-bar {
  padding:25px 0;
}
.single-card-list {
  margin: 0 auto;
  padding: 0px 0vw;
}
.single-card {
  background-color: #fcfcfc;
  padding: 25px;
  margin:15px 5px;
  text-align: center;
  box-shadow: 1px 1px 1px silver;
  border-radius: 5px;
}
.single-card > div > h4 {
  color:gray;
}
.single-card > div > p {
  color:silver;
}
